{{! template-lint-disable }}

<div class="route-container">
    <div
        class="route-link"
        title="home"
    >
        {{#link-to "index"}}
            home
        {{/link-to}}
    </div>
    <div
        class="route-link"
        title="projects"
    >
        {{#link-to "projects"}}
            projects
        {{/link-to}}
    </div>
    <div
        class="route-link"
        title="about"
    >
        {{#link-to "about"}}
            about
        {{/link-to}}
    </div>
</div>