<div class="route-link">
    {{#link-to "index"}}
        home
    {{/link-to}}
</div>
<div class="route-link">
    {{#link-to "projects"}}
        projects
    {{/link-to}}
</div>
<div class="route-link">
    {{#link-to "about"}}
        about
    {{/link-to}}
</div>