<div class="project-card">
    <img src={{this.project.image}} alt="">
    <div class="project-details">
        <h3>
            {{this.project.title}}
        </h3>
        <div class="project-description">
            {{this.project.description}}
        </div>
    </div>
</div>