{{! template-lint-disable }}

<div class="social-container">
    <a
        href="https://github.com/wllm-chndlr"
        rel="noopener noreferrer"
        target="_blank"
        title="github"
    >
        {{fa-icon "github"}}
    </a>
    {{!-- <a
        href="https://www.codewars.com/users/wllm-chndlr"
        rel="noopener noreferrer"
        target="_blank"
        title="codewars"
    >
        <img class="codewars-icon" src='assets/icons/codewars.svg'/>
    </a> --}}
    <a
        href="https://codepen.io/wbc"
        rel="noopener noreferrer"
        target="_blank"
        title="codepen"
    >
        {{fa-icon "codepen"}}
    </a>
    <a
        href="https://www.linkedin.com/in/wllmchndlr/"
        rel="noopener noreferrer"
        target="_blank"
        title="linkedin"
    >
        {{fa-icon "linkedin"}}
    </a>
    <a
        href="https://twitter.com/wllmchndlr"
        rel="noopener noreferrer"
        target="_blank"
        title="twitter"
    >
        {{fa-icon "twitter"}}
    </a>
</div>