@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #e6e6e6;
  padding: 2em;
}

a {
  color: rgb(208, 112, 33);
  text-decoration: none;
}

.container {
    /* max-width: 1024px; */
    min-height: 100vh;
    background: #e6e6e6;
    margin: 0 auto;
}

.menu {
    height: 4em;
    /* padding: 2em; */
}

