@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
//   font-family: 'Oswald', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    // color: #525252;
    font-family: 'IBM Plex Mono', monospace;
    // line-height: 1.5;
}

body {
    height: 100vh;
    background-color: #ebebeb;
}

.container {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 6vw 88vw 6vw;
    grid-template-rows: 8vh 84vh 8vh;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;

    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
            font-weight: 600;

        }
    }

    .main-link {
        color: rgb(68, 68, 68);
    }

    .grid-box {
        .banner {
            box-shadow: 5px 5px 5px rgb(192, 192, 192);
            background: rgb(75, 75, 75);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
            z-index: 5;

            &:hover {
                box-shadow: 8px 8px 5px rgb(192, 192, 192);
            }
        }

        &.grid-box-2 {
            display: flex;
            justify-content: flex-start;

            .banner-2 {
                height: 3rem;
                transform: skew(15deg);
                width: 22rem;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                
                .site-name {
                    transform: skew(-15deg);
                    transition: all 0.5s ease;
                    
                    a {
                        transition: all 0.5s ease;
                        color: white;

                        &:hover {
                            transform: scale(1.1);
                            color: rgb(235, 94, 0);
                        }
                    }
                }
            }
        }

        &.grid-box-4 {
            display: flex;
            align-items: flex-end;
            min-width: 3rem;

            .banner-4 {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                height: 14rem;
                min-width: 3rem;
                transform: skew(0, 15deg);
                width: 3rem;
    
                .nav-icon-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transform: skew(0, -15deg);
    
                    .nav-icon-link {
                        color: white;
                    }
                }

                .fa {
                    color: white;
                    font-size: 1.5rem;
                    padding: 1rem 0;
                    transition: all 0.5s ease;
                    
                    &:hover {
                        transform: scale(1.1);
                        color: rgb(235, 94, 0);
                    }
                }
            }
        }

        &.grid-box-5 {
            display: flex;
            justify-content: center;
            // align-items: center;
            overflow-y: auto;
            // max-width: 70vw;
            justify-self: center;
            min-width: 100%;

            .grid-wrap-index {
                flex-direction: row;
                background: #444;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 3rem;
                border-radius: 15px;
                margin: 3rem;
            }

            .grid-wrap-feature {
                display: grid;
                max-width: 100%;
                max-height: 100vh;
            }

            .grid-wrap-projects {
                grid-gap: 2rem;
                grid-template-columns: 1fr 1fr;
                // max-height: 100%;

                .project-card {
                    box-shadow: 10px 10px 15px rgb(153, 153, 153);
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;
                    background: white;
                    min-height: 90%;
                    max-height: 90%;
                    min-width: 90%;
                    max-width: 90%;
                
                    .project-image {
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;
                        max-height: 200px;
                    }
                
                    .project-info {
                        padding: 1rem;

                        a {
                            color: orange;
                        }

                        .project-title {
                            color: #444;
                            font-size: 1.5rem;
                            margin-bottom: 0.5rem;
                        }
    
                        .project-desc {
                            color: #444;
                            margin-bottom: 2rem;
                        }

                        .button-container {
                            display: flex;
                            justify-content: flex-end;
                            margin-bottom: 1rem;

                            .project-button {
                                border: 2px solid white;
                                font-size: 1rem;
                                width: 150px;
                                padding: 0.5rem;
    
                                &:hover {
                                    border: 2px solid orange;
                                    border-radius: 1rem;
                                }
                            }

                        }
                    }
                }


            }

            .grid-wrap-about {
                color: #525252;
                grid-template-columns: 1fr 1fr;

                ul {
                    margin-left: 2rem;
                }

                .bio,
                .tech {
                    padding: 2rem;
                }

                .p-about {
                    margin-bottom: 1rem;
                }

                .tech-section {
                    margin-bottom: 2rem;
                    background: rgb(10, 133, 155);
                    padding: 2rem;
                    border-radius: 1rem;
                    color: #ebebeb;
                }
            }

            .headshot-img {
                max-height: 20vh;
                margin-top: 20px;
                border-radius: 10px;
                justify-self: flex-end;
            }
        }

        &.grid-box-6 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .banner-6 {
                height: 24rem;
                text-align: center;
                transform: skew(0, 15deg);
                width: 3rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                    
                .nav-link-container {
                    height: 24rem;
                    max-width: 48px;
                    transform: skew(0, -15deg);

                    .route-link {
                        display: flex;
                        justify-content: center;
                        margin-top: 75px;
                        transform: rotate(90deg);
                
                        a {
                            color: white;
                            transition: all 0.5s ease;

                            &:hover {
                                transform: scale(1.1);
                                color: rgb(235, 94, 0);
                            }
                        }

                        .active {
                            color: rgb(235, 94, 0);
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        &.grid-box-8 {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            .banner-8 {
                height: 3rem;
                transform: skew(15deg);
                width: 24rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
    
                .built-with {
                    font-size: 0.75rem;
                    color: white;
                    transition: all 0.5s ease;
                    transform: skew(-15deg);
    
                    .fa {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}



@media (max-width: 900px) { 
    .container {
        .grid-box {
            &.grid-box-5 {
                .grid-wrap-projects,
                .grid-wrap-about,
                .grid-wrap-index {
                    grid-template-columns: 1fr;
                }
            }
        }

    }
}