@import 'base/variables';
@import 'components/animations';
@import 'components/buttons';
@import 'components/cards';
@import 'components/social';

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);

* {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    border: 5px solid $blue;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    overflow: hidden;
}

.project-list::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    transition: all 0.5s ease;
    text-decoration: none;

    &:hover {
        color: $blue;
        transition: all 0.5s ease;
    }

    i.fa {
        transition: all 0.5s ease;

        &:hover {
            color: $blue;
            transform: scale(1.2);

        }
    }
}

.parent {
    background: $gray;
    color: $white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 10px);

    .header {
        align-items: center;
        display: flex;
        grid-area: 7 / 3 / 8 / 9;
        justify-content: flex-end;

        .primary-link {
            font-weight: 900;
            font-size: 3.5em;
            z-index: 10;
        }

    }

    .nav-links {
        grid-area: 2 / 9 / 5 / 10;

        .route-container {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: flex-end;

            .route-link {
                margin: 1rem;
                transition: all 0.5s ease;

                .active {
                    border-bottom: 1px solid $blue;
                    font-weight: 900;
                }

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .index-headshot {
        grid-area: 3 / 3 / 5 / 5;
        display: flex;
        align-items: center;

        .headshot-img {
            max-height: 90%;
            max-width: 90%;
            border-radius: 3px;
            border: 1px solid $blue;
        }
    }

    .index-greeting {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 3rem;
        grid-area: 3 / 5 / 5 / 9;
    }

    .about-bio {
        grid-area: 2 / 2 / 7 / 5;
        display: grid;
        margin-right: 2rem;
        overflow-y: auto;

        .p-about {
            margin-bottom: 1rem;
        }
    }

    .info-list {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 5 / 4 / 7;
    }

    .info-container {
        grid-area: 2 / 7 / 6 / 9;
        overflow-y: auto;

        ul {
            margin-top: 1rem;
        }

        li {
            margin: 0.25rem;
        }
    }

    .project-list {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 2 / 7 / 4;
        overflow-y: auto;

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .project-container {
        grid-area: 2 / 4 / 6 / 8;
        border-radius: 3px;
        margin-left: 2rem;

        .select-project {
            display: flex;
            align-items: center;
            font-style: italic;
            justify-content: center;
            height: 50%;
        }
    }

    .tech-section {
        border: 1px solid $blue;
        border-radius: 5px;
        margin: 0.5rem;
        padding: 1rem;

        ul {
            margin-left: 1.5rem;
        }
    }
}

@media (max-width: 840px) {
    .parent {
        .header {
            grid-area: 7 / 3 / 8 / 9;

            .primary-link {
                color: $white;
                font-size: 2.5rem;
            }
        }

        .index-greeting {
            font-size: 2rem;
        }

        .project-list {
            flex-direction: row;
            align-items: center;
            grid-area: 2 / 2 / 3 / 9;

            ::-webkit-scrollbar {
                display: none;
            }

            .project-button {
                margin: 1rem;
                max-height: 75%;
                min-width: 200px;
            }
        }

        .project-container {
            grid-area: 3 / 2 / 7 / 9;
            margin-left: 0;
        }
    }
}

@media (max-width: 640px) {
    .parent {
        .header {
            grid-area: 1 / 6 / 2 / 10;
            z-index: 100;

            .primary-link {
                color: $gray;
                font-size: 1rem;
                margin-right: 1rem;
                margin-top: 1rem;
                max-width: 100%;
                height: 100%;
            }
        }

        .nav-links {
            grid-area: 7 / 3 / 8 / 10;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            .route-container {
                flex-direction: row;
            }
        }

        .social-icons {
            grid-area: 6 / 1 / 8 / 2;

            .social-container {
                .fa,
                .codewars-icon {
                    font-size: 1.25rem;
                    margin: 0.75rem;
                }
            }
        }

        .index-headshot {
            grid-area: 2 / 6 / 4 / 9;
        }

        .index-greeting {
            font-size: 1.5rem;
            grid-area: 4 / 3 / 6 / 9;
            justify-content: flex-start;
            text-align: right;
        }

        .project-list,
        .info-list {
            overflow-y: scroll;

            .project-button,
            .info-button {
                font-size: 0.75rem;
                padding: 0.5rem;
            }
        }

        .project-list {
            margin: 1rem 0;
            overflow-y: hidden;

            .project-button {
                margin: 0 .5rem 0 0;
                min-height: 75%;
                min-width: 150px;
            }
        }

        .project-container {
            grid-area: 3 / 2 / 6 / 9;

            .project-card {
                a {
                    font-size: 0.75rem;
                }
            }
        }

        .info-list {
            grid-area: 5 / 2 / 8 / 5;
        }

        .info-container {
            font-size: 0.75rem;
            grid-area: 5 / 6 / 7 / 9;
            margin-top: 0;

            li {
                margin-bottom: .5rem;
            }
        }

        .about-bio {
            grid-area: 2 / 2 / 5 / 9;
            overflow-y: auto;
            font-size: 0.75rem;
            margin-bottom: 2rem;
            margin-top: .5rem;
        }
    }
}
