@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Oswald', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #ffffff;
  /* padding: 2em; */
  /* margin: 40px; */

}

a {
  color: #525252;
  text-decoration: none;
  transition: color 0.5s ease;

}

a:hover {
    color: orange;
}

/* .container {
    max-width: 1024px;
    min-height: 100vh;
    background: #ffffff;
    margin: 0 auto;
} */

/* .menu {
    height: 4em;
    padding: 2em;
} */


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-gap: 10px; */
  background-color: #fff;
  color: #fff;
  min-height: 100vh;

}

.box {
  /* background-color: rgb(112, 139, 150); */
  /* border: 3px solid rgb(112, 139, 150); */

  color: #444;
  border-radius: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  opacity: 0.9;
  transition: background-color 0.5s ease;
}

.box:hover {
    background-color: rgb(245, 245, 245);

    /* opacity: 1; */
    /* border: 3px solid rgb(100, 133, 146); */
}

.a {
    font-size: 4em;
}

.c {
    display: flex;
}

.d {
    display: flex;
    align-items: center;
}

.e {
    font-size: 4em;
    justify-content: center;
}

.route-link {
    display: flex;
    margin-left: 5px;

}

