@import 'tailwind';
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Oswald', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #525252;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
}

.main-content {
    min-height: 100%;
    max-height: 100%;
    padding: 1rem;
    width: 85vw;
}

.main-nav {
    min-height: 100%;
    width: 15vw;
    display: grid;
    background: #444;
    padding: 1rem;
    .nav-link-container {
        justify-content: flex-end;
        font-size: 2rem;
        text-align: right;
        padding: 1rem;
    }
    
    .nav-name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        padding: 1rem;

    }
    
    .nav-icon-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 2rem;
        padding: 1rem;
    }
}

button {
    &:focus {
        outline: none;
    }
}

a,
i,
.name {
    color: rgb(201, 201, 201);
    text-decoration: none;
    transition: all 0.5s ease;
}

svg {
    border: 1px solid #abaeb4;
    border-radius: 50;
    margin-top: 1rem;
}

a:hover,
i:hover {
    color: orange;
    transform: scale(1.4);
}

i {
    margin-right: 10px;
    margin-bottom: 20px;
}

.name {
    font-size: 3rem;
    transition: all 0.5s ease;
    max-width: 100%;
}

.name:hover {
    color: orange;
}

.active {
    
}

.grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project-card-tw {
    display: flex;
    min-width: 100%;
    max-width: 80%;
    justify-content: center;
    max-height: 100%;

    img {
        max-height: 250px;
    }
}

