@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Oswald', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #525252;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    min-height: 100vh;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
}

.main-content {
    min-height: 100%;
    width: 85vw;
}

.main-nav {
    min-height: 100%;
    width: 15vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;

}

.nav-link-container {
    justify-content: flex-end;
    font-size: 2rem;
    text-align: right;
}

.nav-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.nav-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
}

a,
i {
    color: #525252;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover,
i:hover {
    color: orange;
    transform: scale(1.4);
}

i {
    margin-right: 10px;
    margin-bottom: 20px;
}

.name {
    font-size: 3rem;
    transition: all 0.5s ease;
    max-width: 100%;
}

.name:hover {
    color: orange;
}



.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-gap: 10px; */
  background-color: #fff;
  color: #fff;
  min-height: 90vh;
  /* min-height: 100%; */

}

.box {
    /* background-color: rgb(112, 139, 150); */
    /* border: 3px solid rgb(112, 139, 150); */

    color: #444;
    border-radius: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0.9;
    transition: background-color 0.5s ease;
}

.box:hover {
    /* background-color: rgb(245, 245, 245); */

    /* opacity: 1; */
    /* border: 3px solid rgb(100, 133, 146); */
}

.grid-1 {
    font-size: 4em;
}

.grid-3 {
    display: flex;
}

.grid-4 {
    display: flex;
    align-items: center;
}

.grid-5 {
    font-size: 4em;
    justify-content: center;
}

.grid-7 {
    display: flex;
    /* justify-content: space-between; */
}

.nav-links {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.route-link {
    /* display: flex; */
    margin-left: 5px;

}

