<div class="grid-wrap-about">
    <p class="p-about">Hey everyone. My name is Will Chandler and I'm a front-end developer in Austin, Texas.</p>
    
    <p class="p-about">A sixth-generation Texan, I've lived in Mexico, Scotland, and Spain. I'm currently based in Austin, with dreams of the Pacific Northwest.</p>

    <p class="p-about">For many years, I went down a liberal arts and social sciences path. I studied Spanish and earned a Masters in international relations. I supervised international academic programs, and managed an interdisciplinary human rights center.</p>

    <p class="p-about">But throughout this journey, I knew that my true calling lay elsewhere. Programming had always intrigued me, and when I finally took the plunge into web development, it was clear that I had found my lifelong career.</p>

    <p class="p-about">I completed a full stack web development bootcamp through UT Austin, and now I'm a UI developer.</p>

    {{!-- <div>
        const family = {  <br/>
            partner: Jacqueline,  
            children: [Lochlan, Aila],  
            dogs: [Maggie, Griffin]  
        }
    </div> --}}

    <div class="tech">
        <ul>
            <li>Ember.js</li>
            <li>Node.js</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SASS</li>
            <li>CSS Grid</li>
            <li>React.js</li>
            <li>D3</li>
            <li>Express</li>
            <li>MongoDB</li>
        </ul>
    </div>
    
</div>
