{{! template-lint-disable }}

{{!-- <div class="wave-container">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
</div> --}}

<div class="grid-container">

    <div class="grid-box grid-box-1"></div>

    <div class="grid-box grid-box-2">
        <div class="banner banner-2 banner-horiz">
            <div class="site-name route-link">
                {{#link-to "index" class="primary-link"}}
                    WILLIAM CHANDLER
                {{/link-to}}
            </div>
        </div>
    </div>

    <div class="grid-box grid-box-3"></div>

    <div class="grid-box grid-box-4">
        <div class="banner banner-4 banner-vert">
            {{social-icons}}
        </div>
    </div>

    <div class="grid-box grid-box-5">
        {{outlet}}
    </div>

    <div class="grid-box grid-box-6">
        <div class="banner banner-6 banner-vert">
            {{nav-links}}
        </div>
    </div>

    <div class="grid-box grid-box-7"></div>

    <div class="grid-box grid-box-8">
        <div class="banner banner-8 banner-horiz">
            <div class="built-with">
                Built with Ember + Vanilla CSS
            </div>
        </div>
    </div>

    <div class="grid-box grid-box-9"></div>

</div>

{{!-- {{outlet}} --}}
