{{! template-lint-disable }}

<div class="parent">

    <div class="header animated fadeInLeft">
        {{#link-to "index" class="primary-link"}}
            WILLIAM CHANDLER
        {{/link-to}}
    </div>

    <div class="nav-links animated fadeInRight">
        <NavLinks />
    </div>

    <div class="wavy-waves">
        <WavyWaves />
    </div>

    <div class="social-icons animated fadeInUp">
        <SocialIcons />
    </div>

    {{outlet}}

</div>
