{{!-- <div class="container">
    <div class="menu">
        {{#link-to "index"}}
        <h1>
            William Chandler
        </h1>
        {{/link-to}}
        <div class="links">
            {{#link-to "index"}}
                home
            {{/link-to}}
            {{#link-to "projects"}}
                projects
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div> --}}


 <div class="wrapper">
    <div class="box a">
         
    </div>
    <div class="box b">
        
    </div>
    <div class="box c">
        {{outlet}}

    </div>
    <div class="box d">

        
    </div>
    <div class="box e">
        will chandler
    </div>
    <div class="box f">

    </div>
    <div class="box g">
        {{!-- <ul> --}}
            <div class="route-link">
                {{#link-to "index"}}
                    home
                {{/link-to}}
            </div>
            <div class="route-link">
                {{#link-to "projects"}}
                    projects
                {{/link-to}}
            </div>
            <div class="route-link">
                {{#link-to "about"}}
                    about
                {{/link-to}}
            </div>
        {{!-- </ul> --}}
    </div>
    <div class="box h">

    </div>
    <div class="box i">

    </div>
</div>

