<div class="grid-wrap-feature grid-wrap-index">

{{!-- <div class="box grid-5"> --}}
    {{!-- <div class='tracking-in-contract'> --}}
        Howdy.
    {{!-- </div> --}}
    <div class='intro'>
        I'm Will and I'm a UI developer in Austin, Texas.
    </div>
    <img
        class="headshot-img"
        src="/assets/images/headshot.jpg" 
        alt="headshot"
    />
</div>