{{! template-lint-disable }}

<div class="index-headshot">
    <img
        class="lazy headshot-img"
        src="/optimized/headshot.jpg"
        alt="headshot"
    />
</div>

<div class="index-greeting">
    <p>Hi, I'm Will.</p>
    <p>I'm a UI developer based in Austin.</p>
</div>
