 <div class="wrapper">
    <div class="box a">
         Hi
    </div>
    <div class="box b">
        
    </div>
    <div class="box c">
        {{outlet}}

    </div>
    <div class="box d">

        
    </div>
    <div class="box e">
        Will Chandler
    </div>
    <div class="box f">

    </div>
    <div class="box g">
        <div class="route-link">
            {{#link-to "index"}}
                Home
            {{/link-to}}
        </div>
        <div class="route-link">
            {{#link-to "projects"}}
                Projects
            {{/link-to}}
        </div>
        <div class="route-link">
            {{#link-to "about"}}
                About
            {{/link-to}}
        </div>
    </div>
    <div class="box h">

    </div>
    <div class="box i">

    </div>
</div>