<div class="grid-wrap-feature grid-wrap-projects">
  {{#each this.model as |projectCard|}}
    <div class="project-card-tw">
      <ProjectCard @project={{projectCard}} />
    </div>
  {{/each}}
</div>

{{!-- <div class="grid-wrap-feature grid-wrap-projects">

<div class="test-project">1</div>
<div class="test-project">2</div>
<div class="test-project">3</div>
<div class="test-project">4</div>

</div> --}}