<div class="grid-wrap-feature grid-wrap-projects">
  {{#each this.model as |projectCard|}}
    <div class="project-card-tw">
      <ProjectCard-2 @project={{projectCard}} />
    </div>
  {{/each}}
</div>